<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Haushaltbuch.Properties.Settings.HaushaltsbuchConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Haushaltsbuch.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Haushaltbuch.Properties.Settings.HaushaltsbuchConnectionString1"
            connectionString="Data Source=DESKTOP-23QVBVH\MSSQLSERVER01;Initial Catalog=Haushaltsbuch;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>